
<style>
article{background:url(<%= image_path("contact-01.jpg") %>) 0 0 no-repeat;width:879px;height:262px;margin:0 auto;line-height:22px;position:relative}
h3{font:300 44px "微軟正黑體";color:#ff9c00;position:absolute;top:55px;left:145px}
article ul{position:absolute;top:105px;color:#fff;right:250px}
article ul a{text-decoration:underline;color:#fff}
article ul img{margin:0 5px 0 0}
</style>

  <h2><img src="<%= image_path("h2-contact.png") %>" width="253" height="81"></h2>
  <article>
  <h3>棋略整合行銷</h3>
  <ul>
  <li>　　　　徐瑛</li>
  <li>　　<img src="<%= image_path("contact-02.png") %>" width="14" height="17">(02) 2721-1070</li>
  <li><img src="<%= image_path("contact-03.png") %>" width="18" height="12"><a href="mailto:hsuying@chesswin.com.tw" target="_blank">hsuying@chesswin.com.tw</a></li>
  
             
          
   
  </ul>
  </article>