<style>
article{background:url(<%= image_path("service-02.jpg") %>) 0 0 no-repeat;width:819px;height:482px;margin:0 auto;line-height:22px;padding:80px 0 0 60px}
h3{font:300 22px "微軟正黑體";color:#df3a00}
h4{font:300 14px "微軟正黑體";color:#a1a1a1}
</style>
<h2><img src="<%= image_path("h2-service.png") %>" width="247" height="80"></h2>
<article>

<table width="92%" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td width="351" align="right" valign="top"><h4>Conference Management</h4>
    <h3>專業會議策劃及執行</h3></td>
    <td width="20" align="left" valign="top">&nbsp;</td>
    <td width="210" align="left" valign="top">創意發想與策略擬定<br>
場地規劃設計<br>
活動現場流程監控及支援<br>
活動記錄及分析報告<br><br></td>
    <td width="238" rowspan="4" align="right" valign="bottom"><img src="<%= image_path("service-01.jpg") %>" width="266" height="319"></td>
  </tr>
  <tr>
    <td align="right" valign="top"><h4>Public Relations</h4>
    <h3>媒體公關諮詢服務及執行</h3></td>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top">記者會舉辨<br>
      媒體專訪安排<br>
      新聞發稿<br>
      成功案例採訪<br><br></td>
    </tr>
  <tr>
    <td align="right" valign="top"><h4>Direct Marketing</h4>
    <h3>直效行銷</h3></td>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top">資料庫管理<br>
      eDM設計發送<br>
      電話行銷<br>
      報名作業處理<br><br></td>
    </tr>
  <tr>
    <td align="right" valign="top"><h4>Advertisement</h4>
    <h3>廣告代理</h3></td>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top">主視覺設計<br>
      媒體分析與運用<br>
      媒體採購與監督<br><br></td>
    </tr>
</table>
</article>