
body {
	font-family:  '微軟正黑體', Arial;
	font-size: 14px;	
}

#wrapper {
	margin: 0px auto;
	width: 1024px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

#mainBody {
	margin: 24px;
}

#footer{
	width: 93%;
	border-top: 1px solid black;
	margin: 12px auto;
}