<!DOCTYPE html>
<html>
<head>
  <title>  ChessWin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<div id="footer">		
		<p>ChessWin All Rights Reserved</p>
		<p>Produce & Maintained by <a href="http://www.summers.com.tw" target="_blank">Summers Advertising.</a></p>
	</div>

</body>
</html>
